<div>
  <mat-tab-group>
    <mat-tab label="Products">
      <mat-tab-group>
        <mat-tab label="Products List"><app-product></app-product> </mat-tab>
        <mat-tab label="Add Product"
          ><app-productadd></app-productadd>
        </mat-tab>
        <mat-tab label="Update Product"
          ><app-productupdate></app-productupdate>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Suppliers">
      <mat-tab-group>
        <mat-tab label="Supplier List"><app-supplier></app-supplier></mat-tab>
        <mat-tab label="Add Supplier"
          ><app-supplieradd></app-supplieradd>
        </mat-tab>
        <mat-tab label="Update Supplier">
          <app-supplierupdate></app-supplierupdate>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="User">
      <mat-tab-group>
        <mat-tab label="Users List"> <app-user></app-user> </mat-tab>
        <mat-tab label="Add User"> <app-useradd></app-useradd> </mat-tab>
        <mat-tab label="Update User">
          <app-userupdate></app-userupdate>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
