<!-- <p>supplieradd works!</p> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="sName">Supplier Name:</label>
          <input
            id="sName"
            type="text"
            class="form-control"
            formControlName="sName"
            [ngClass]="{ 'is-invalid': submitted && f['sName'].errors }"
          />
          <div *ngIf="submitted && f['sName'].errors" class="invalid-feedback">
            <div *ngIf="f['sName'].errors['required']">
              Supplier Name is required.
            </div>
          </div>
          <label for="sLocation">Location:</label>
          <input
            id="sLocation"
            type="text"
            class="form-control"
            formControlName="sLocation"
            [ngClass]="{ 'is-invalid': submitted && f['sLocation'].errors }"
          />
          <div
            *ngIf="submitted && f['sLocation'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['sLocation'].errors['required']">
              Location is required.
            </div>
          </div>
          <label for="supplier_id">supplier Id:</label>
          <input
            id="supplier_id"
            type="text"
            class="form-control"
            formControlName="supplier_id"
            [ngClass]="{ 'is-invalid': submitted && f['supplier_id'].errors }"
          />
          <div
            *ngIf="submitted && f['supplier_id'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['supplier_id'].errors['required']">
              Supplier Id is required.
            </div>
          </div>
          <label for="logo_img">Image:</label>
          <input
            id="logo_img"
            type="text"
            class="form-control"
            formControlName="logo_img"
            [ngClass]="{ 'is-invalid': submitted && f['logo_img'].errors }"
          />
          <div
            *ngIf="submitted && f['logo_img'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['logo_img'].errors['required']">
              Image path is required.
            </div>
          </div>
        </div>
        <div class="text-center d-flex justify-content-end">
          <button class="btn btn-primary m-2" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
