<!-- <img src="{{ product.img_path }}" />
<h4>Product id: {{ product.id }}</h4>
<h4>Product Name: {{ product.pName }}</h4>
<h5>Product Price: {{ product.price }}</h5> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <mat-card class="example-card">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <img
          mat-card-image
          src="{{ product.img_path }}"
          alt="Photo of a {{ product.pName }}"
          height="450px"
        />
        <mat-card-header>
          <mat-card-title>{{ product.pName }}</mat-card-title>
          <mat-card-subtitle class="h2">₹{{ product.price }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The {{ product.pName }} device is highly reliable.this device is
            available for only some locations.perceived as something that can be
            slapped onto a design at the end of the product development process.
            But in the best companies. Offer is available only for few days.go
            and get it as soon as possible.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            style="width: 300px"
            routerLink="/userproducts"
          >
            Buy
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
